
:root {
    --cold-white: rgb(231,235,227);
    --warm-white: rgb(245, 235, 227);
    --army-grey: rgba(70,76,64);
    --dark-gray: #333;
    --midsomber: rgb(58, 66,71);

    --true-blue: #356ABC;
    --black: #000000;
    --claucous: #5E7FA2;
    --berkeley-blue: #1B355E;
    --charcoal: #2F4051;
  }

body {
    margin:0;
    background-color: var(--claucous);
    color: var(--cold-white);
    font-family: "roboto", sans-serif;
}

h2{
    position: absolute;
    top: 5px;
    left: 15px; 
    font-size: 20px;
    font-style: italic;
}

p{
  margin-top: 8px;
  margin-bottom: 0px;
}

.header {
    background-color: var(--berkeley-blue);
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 70px;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #navbar p{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-left{
    display: flex;
    align-items: center;
    margin-left: 32px;
  }

  .nav-left > img {
    width: 30px;
    height: 30px;
  }

  .form-area{
    display: flex;
    justify-content: center;
    margin-right: 32px;
    flex-wrap: wrap;
    gap: 16px;
  }

  .search-btn {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:10px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.search-btn:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.search-btn:active {
	position:relative;
	top:1px;
}


.input {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:10px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.input:active{
    background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}

    .content{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 12px;
    }


  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: var(--dark-gray);
    /* margin: 10px; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
   
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(230, 227, 227, 0.2);
  }

  .card-top{
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: end; 
    /* align-items: flex-end; */
    position: relative;
  }

  .background-img {
    opacity: 0.05;
    width: 185px !important;
    height: fit-content;
    margin: 10px;
    position: absolute;
    right: 2px;
    top: -7px;
  }
  
  /* Add some padding inside the card container */
  .container {
    margin-top: -40px;
    padding-top: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: var(--berkeley-blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 243px;
  }

  .flex {
    display: flex;
    justify-content: center;
    gap: 64px;
  }

  .stats-about{
    display: flex;
    justify-content: space-between;
    gap:64px;
  }
  

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .content {
    margin: 0px 32px;
  }
  




/* #pokedex {
min-height: 50vh;
background-color: #fc7779;
color: white;
display: flex;
} */

/* #info-container{
    background-color: rebeccapurple;
    margin-top: -40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 100px;
} */

/* .card1{
    height: 200px;
    width: 200px;
    background-color: bisque;

} */

.nav-bar{
    height: 100px;
    background-color: black;
    color: white;
    position: sticky;
}

.card{
    width: 300px;
     border-radius: 10px;
     
}

.card-img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc7779;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-img-top{
    opacity: 0.2;
    height: 200px;
    width: 200px;
}

.card-body{
    margin-top: -40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    min-height: 200px;
}


.p-text{
    font-size: 13px;
    margin-bottom: 8px;
}

#card-area{
    margin-top: 70px;
}

.poke-type{
  background-color: greenyellow;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* -webkit-box-shadow:0px 0px 8px 10px rgba(250,250,250,0.41);
  -moz-box-shadow: 0px 0px 8px 10px rgba(250,250,250,0.41);
  box-shadow: 0px 0px 8px 10px rgba(250,250,250,0.41); */

  /* -webkit-box-shadow:0px 0px 8px 5px rgba(250,250,250,0.88);
-moz-box-shadow: 0px 0px 8px 5px rgba(250,250,250,0.88);
box-shadow: 0px 0px 8px 5px rgba(250,250,250,0.88); */

-webkit-box-shadow:0px 0px 8px 3px rgba(255,205,0,0.69);
-moz-box-shadow: 0px 0px 8px 3px rgba(255,205,0,0.69);
box-shadow: 0px 0px 8px 3px rgba(255,205,0,0.69);

border: 3px solid var(--dark-gray);

}

.type-container > p {
  font-size: small;
}

.type-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.poke-type > svg{
    height: 30px;
    width: 30px;
   
}
/* hier svg löschen wenn umgestellt */
.poke-type > img{
  height: 30px;
  width: 30px;
 
}

.pokemon-img{
    position: absolute;
    width: 280px;
    top: 0;
}

.pokemon-name{
    font-size: x-large;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.bar-container {
  position: relative;
  width: 200px;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.bar {
  position: relative;
  height: 100%;
  background-color: #333;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.bar-fill {
  height: 100%;
  background-color: red;
  border-radius: 10px;
  animation: fill-bar 2s ease-in-out forwards;
}

.bar-label {
  font-size: 14px;
  color: #fff;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.bar-label > b{
  margin-right: 6px;
}

.bar-label[style="text-align:right;"] {
  right: 8px;
  left: auto;
}


@keyframes fill-bar {
  from {width: 0;}
  to {width: 80%;}
} 


#about{
  margin-top:8px;
}

.bug{
  background-color: #83c301;
}

.d-none{
  display: none;
}


/* ab hier innere Carte */

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--claucous);
  z-index: 2; 

}

.card-detail{
  position: absolute;
  top: 50%;
  left: 50%;
  /* font-size: 50px; */
  /* color: white; */
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.close{
  width: 30px;
    height: 30px;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer; 
}

.back{
  position: absolute;
  top: 100%;
  left: 10px;
  cursor: pointer;
}


.forward{
  position: absolute;
  top: 100%;
  right: 10px;
  cursor: pointer;
}

.pokemon-img-detail{
  position: absolute;
  width: 221px;
  top: 0;
}

.pokemon-name-detail{
  font-size: x-large;
  text-transform: uppercase;
  margin-bottom: 24px;
  position:absolute;
  top: 214px;
  left: 141px;
}

.type-container-detail{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4px;
}

.type-container-detail > p {
  font-size: small;
}

.type-detail{
  position:absolute;
  left:29px;
  top:77px;

  /* war left 27 und top 81 */
}

.poke-type-detail> svg{
  height: 20px;
  width: 20px;
 
}
/* svg löschen wenn umgestellt */

.poke-type-detail> img{
  height: 20px;
  width: 20px;
 
}

.poke-type-detail{
  background-color: #83c301;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow:0px 0px 8px 3px rgba(255,205,0,0.69);
  -moz-box-shadow: 0px 0px 8px 3px rgba(255,205,0,0.69);
  box-shadow: 0px 0px 8px 3px rgba(255,205,0,0.69);

  border: 3px solid var(--dark-gray);

}

